.App {
  margin-top: 15px;
  text-align: center;
  padding-bottom: 130px;
}

.app__form{
  position: fixed;
  bottom: 5px;
  z-index: 1;
  background-color: rgba(11, 129, 255, 0.5);
  width: 100% !important;
  margin: 20px auto;
  padding: 20px;
  box-sizing: border-box;

}

.app__formControl{
  display: flex !important;
  flex-direction: row !important;
  align-items: center !important;
  justify-content: center !important;
}

.app__input{
  flex: 1;
}

.app__button{
  flex:0;
}

@media only screen and (max-width: 600px) {
  .app__form{
    width: 80%;
  } 
}

@media only screen and (min-width: 600px) {
  .app__form{
    width:90%;
  } 
}